.pokedex-page{
  height: 100vh;
  padding-top: 20vh;
  background-image: url('https://i.imgur.com/2gfwG.png');
  background-size: cover;

}

.pokedex{
  margin: auto;
  height: 800px;
  padding: 50px;
  border-radius: 25px;
  width: 50%;
  background-color: rgb(199, 32, 40);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.contents{
  display: flex;
  height: fit-content;
  width: fit-content;
}
.contents img{
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.searchbar{
  width: fit-content;
  height: 50px;
  border-radius: 5px;
  border: 0;
}

.description{
  width: fit-content;
  padding: 50px;
  text-align: left;
  width: 500px;
}

.stats{
  color: beige;
}

.btn-search{
  background-color: rgba(255, 255, 255, 0.315);
  border: 5px solid white;
  padding: 9px 15px;
  margin: 1rem;
  border-radius: 5px;
  color: rgb(255, 255, 255);
}
