.pokedex-page{
  height: 100vh;
  padding-top: 20vh;
  background-image: url('https://i.imgur.com/2gfwG.png');
  background-size: cover;
}

.pokedex{
  margin: auto;
  height: 800px;
  padding: 50px;
  border-radius: 25px;
  width: fit-content;
  background-color: rgb(199, 32, 40);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.types{
  display: flex;
  gap: 25px;
  margin-left: 25px;
}

.back-btn{
  background-color: rgb(54, 54, 54);
  padding: 10px 20px;
  border-radius: 5px;
}

#type1{
  padding: 10px 20px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#type2{
  padding: 10px 20px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.bug{
  background-color: rgb(12, 68, 22);
}

.dark{
 background-color: rgb(32, 31, 34);
}

.dragon{
  background-color: rgb(146, 202, 206);
}

.electric{
  background-color: rgb(238, 236, 118);
}

.fairy{
  background-color: rgb(161, 114, 201);
}

.fighting{
  background-color: rgb(100, 72, 48) ;
}

.fire{
  background-color: rgb(231, 44, 44);
}

.flying{
  background-color: rgb(88, 103, 119);
}

.ghost{
  background-color: rgb(36, 12, 102);
}

.grass{
  background-color: rgb(63, 201, 45);
}

.ground{
  background-color: rgb(128, 100, 75);
}

.ice{
  background-color: aquamarine;
}

.normal{
  background-color: rgb(230, 230, 230);
}

.poison{
  background-color: blueviolet;
}

.psychic{
  background-color: rgb(226, 43, 217);
}

.rock{
  background-color: rgb(51, 37, 17);
}

.steel{
  background-color: rgb(95, 139, 125);
}

.water{
  background-color: rgb(70, 119, 255);
}


.contents{
  display: flex;
  height: fit-content;
  width: fit-content;
}
.contents img{
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.178);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.searchbar{
  width: fit-content;
  height: 50px;
  border-radius: 5px;
  border: 0;
}

.description{
  width: fit-content;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 50px;
  color: aliceblue;
  width: fit-content;
}


.stats{
  padding: auto;
  color: beige;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: fit-content;
  gap: 10px;
}

.stat{
  background-color: rgb(26, 86, 177);
  width: 100px;
  height: 50px;
  text-align: center;
  padding-top: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.btn-search{
  background-color: rgba(255, 255, 255, 0.315);
  border: 5px solid white;
  padding: 9px 15px;
  margin: 1rem;
  border-radius: 5px;
  color: rgb(255, 255, 255);
}
