.Projects{
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  height: fit-content;
  }

  .Projects h2{
    color: white;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 50px;
  }

  .devider-projects{
    height: 2px;
    width: 25vw;
    margin: 25px auto;
    border-bottom: 1px solid white;
  }

.image-card{
  width: 260px;
  height: 200px;
  padding-right: 50px;
  object-fit: cover;
}

.Project-card{
  width: 80vw;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  margin: auto;
  height: 250px;
  padding: 1rem;
  display: flex;
}
.Project-card:hover{
  height: 350px;
}

.project-text{
  color: white;
  text-align: left;
  width: 80%;
  padding: 50px;
}
