.Projects{
  margin-top: 50px;
  gap: 2rem;
  display: flex;
  }

  .col {
    padding: 3px;

  }



.Project-card{
  width: 500px;
  padding: 1rem;
  background-color: rgba(240, 240, 240, 0.322);
  border-radius: 15px;
}
