.ArtGallery{
    background-color: #121212;
    min-height: 1020px;
    position: relative;
}

.artTitle{
    font-family: quantrum;
    color: #FDF1DD;
    position: absolute;
    margin: 24px 64px;
    font-size: 96px;
}

.Big-Image{
 width: 60vw;
 height: 100vh;
 background-size: cover;
}

.side-scroll{
    width: 40vw;
    height: 100vh;
} 