.grid {
    height: fit-content;
    width: 100%;
    padding: 50px
}

.artrow{
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.artcolumn{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media only screen and (max-width: 800px) {
    .grid{
        padding: 10px
    }
  }

  @media only screen and (max-width: 400px) {
    .artrow{
        flex-direction: column;
    }
  }


